.brand {
  background-color: orange;
  color: white;
  font-size: 25px;
  padding: 10px;
  display: block;
  float: left; }

li a {
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
  display: block;
  color: white; }

li a:hover {
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
  background-color: #111; }

li {
  float: right; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  width: 100%; }

.nav {
  margin-top: 0px;
  width: 100%;
  height: 45px; }
