@mixin init-lnk{
	text-decoration: none;
	padding: 14px 16px;
	text-align: center;
}
li a {
	@include init-lnk;
    display: block;
    color: white;
}

li a:hover {
	@include init-lnk;
    background-color: #111;
}